.game-ship {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.battle-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  width: max-content;
  margin: 1rem auto;
  padding: 1rem;
  background: skyblue;
}

.battle-field__line {
  display: flex;
  gap: 0.5rem;
}

.battle-field__cell {
  width: 2rem;
  height: 2rem;
  padding: 0;
  border: 0;
  line-height: 1;
  cursor: pointer;
  font-size: 33px;
  overflow: hidden;
}
